.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.child{
    width: 100%;
    height: 100px;
    background-color: red;
}
@media screen and (max-width: 1280px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
@media screen and (max-width: 1024px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media screen and (max-width: 480px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 320px) {
    .container{
        grid-template-columns: 1fr;
    }
  }