*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 40px;
}
.container{
    display: flex;
}
.card{
    width: 200px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
}
.label{
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    padding: 3px 8px;
    margin: 5px;
  
}
.product-img{
    width: 100%;
}
.card-info{
    padding: 10px 5px;
}
.category,
.color{
    font-size: 13px;
    color: #75757a;
}
.price{
    padding-top: 8px;
    font-size: 13px;
    color: black;
    display: inline-block;
}
span{
    padding-top: 8px;
    padding-left: 8px;
    font-size: 13px;
    color: #75757a;
    text-decoration: line-through;
}
.add-button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    margin: 5px;
    cursor: pointer;
}