*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    width: 350px;
    margin: 10px;
}
.ds-inlineBlock{
    display: inline-block;
}
.image{
    margin-right: 10px;
}
.image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
.detail{
    vertical-align: middle;
}
p{
    font-size: 16px;
}
.BTN{
    margin-left: 150px;
}
.BTN button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color:white;
    background-color: #6495ED;
}