*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-section{
    width: 100%;
    height: 500px;
    background: linear-gradient(#ffffff00,#00000091), url('images/01.png');
    display: flex;
    justify-content: flex-end;
    padding: 50px 30px;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
svg{
    display: none;
    width: 28px;
    height: 28px;
}
a{
    margin: 0 10px;
    padding: 10px 20px;
    color: black;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    background-color: #cfcfcf;
  
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 30px 10px;
}
.card{
    display: flex;
    gap: 10px;
}
.info{
    flex: 1;
}
.title{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 8px;
}
.des{
    color: #606060;
}
.image{
    width: 40%;
    height: 200px;
    padding: 5px;
    border: 2px solid gray;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    background-color: #1e2334;
    color: white;
    padding: 20px;
    text-align: center;
}
footer p{
    opacity: 0.7;
    margin-top: 5px;
}
@media (max-width: 768px){
    .container{
        grid-template-columns: repeat(4,1fr);
    }
    .card{
        flex-direction: column-reverse;
    }
    .image{
        padding: 0;
    }
    .image{
        width: 100%;

    }
    nav{
        display: none;
    }
    svg{
        display: inline-block;
    }
}
@media (max-width: 640px){
    .container{
        grid-template-columns: 1fr;
    }
    .card{
        flex-direction: row;
    }
    .image{
        width: 40%;
    }
}