*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    margin: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.item{
    background-color: lightpink;
}