*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.box{
    width: 300px;
    height: 150px;
    background-color: darkgray;
    position: relative;
}
.close-button{
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.time{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
}