* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #5373ee;
}
.container {
  background-color: #ffffff;
  width: min(500px, 90%);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 0.5em;
  text-align: center;
}
button {
  background-color: #5373ee;
  padding: 1em 0.5em;
  width: 100%;
  color: #ffffff;
  border: none;
  font-size: 1em;
  margin: 20px 0;
  border-radius: 0.3em;
  cursor: pointer;
}
p#result {
  font-size: 1.2em;
}
input{
  font-size: 15px;
  width: 100%;
  margin-top: 20px;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid slategrey;
}
