*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    text-align: center;
}
button{
    width: 95px;
    height: 45px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    background-color: white;
}