*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    width: 200px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: inline-block;
}
.profile-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
p{
    padding-left: 5px;
}
.card-name{
    padding-top: 8px;
    font-size: 18px;
    font-weight: bold;
}
.mutual-fri{
    padding-top: 5px;
    color: #606060;
}
button{
    margin: 10px 5px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4B70F5;
    color: white;
}