* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  margin: 0;
}

.card {
  padding: 20px;
}

.card-content {
  display: flex;
  max-width: 32rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

img {
  height: 200px;
  object-fit: cover;
}
.text-content {
  padding: 16px;
}
.category {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #6366f1;
  letter-spacing: 0.05em;
}
.title {
  display: block;
  margin-top: 4px;
  font-size: 1.125rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.title:hover {
  text-decoration: underline;
}
.description {
  margin-top: 8px;
  font-size: 1rem;
  color: #6b7280;
}
@media screen and (max-width: 700px) {
  .card-content {
    flex-direction: column;
  }
  img {
    width: 100%;
  }
}
