*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,100px);
    gap: 10px;
}
.item1{
    background-color: green;
    grid-row: 1/-1;
}
.item2{
    background-color: green;
    grid-column: 2/4;
}
.item3{background-color: red;}
.item4{background-color: yellow;}
.item5{background-color: red;}
.item6{
    background-color: green;
    grid-column: 4;
    grid-row: -3/-1;
}
.item7{background-color: red;}
.item8{background-color: yellow;}