* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-color: #faf9ee;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}
form {
  width: 400px;
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}
input {
  height: 35px;
  flex: 1;
  padding: 5px;
}
#submit-button {
  background-color: black;
  color: white;
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.text-box {
  flex: 2;
}
.todolist {
  width: 400px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
h2 {
  text-transform: capitalize;
  padding-bottom: 5px;
}
.todo-item {
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.button-content {
  align-self: self-end;
}
.button-content .remove {
  color: red;
  padding-right: 10px;
}
