@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    width: 500px;
}
h1{
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}
.about{
    background-color: rgb(237, 237, 237);
}

.article-one{
    font-family: "Roboto", sans-serif;
}

.article-two{
    font-family: "Playfair Display", serif;
}

.font{
    color: rgb(60, 140, 220);
}
.title{
    font-weight: bolder;
    font-size: 24px;
    letter-spacing: 4px;
}

span{
    color: red;
}

