*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 2000px;
}
.side-bar{
    width: 300px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    background-color: white
}
svg, img{
    width: 28px;
    height: 28px;
}
img{
    border-radius: 100%;
    object-fit: cover;
}


a{
    text-decoration: none;
    color: black;
}

.logo{
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
}
.logo svg{
    margin-top: 4px;
}
.logo:hover{
    background-color: #F5F5F5;
}

.button{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 4px 0;
    padding: 12px;
    border-radius: 8px;
}
.button:hover{
    background-color: #F5F5F5;
}
.button p{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.button.active{
    font-weight: bold;
}
