*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 50px;
}
.card{
    width: 300px;
    height: 150px;
    background-color: darkgrey;
    position: relative;
}
.close-label{
    background-color: black;
    border-radius: 100%;
    color: white;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: -10px;
}
.timer{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 0;
    right: 0;
    padding: 2px 5px;
    margin: 5px;
}