* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-container {
  width: 250px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product-image {
  width: 250px;
  transition: 0.3s ease;
  cursor: pointer;
}
.product-image:hover{
  transform: scale(1.1);
}
.product-info {
  margin-top: 20px;
}
.product-info .product-name {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  margin-bottom: 5px;
}
.product-info p {
  font-size: 12px;
  color: #6a6a6a;
  text-align: center;
}
.button{
  margin: 10px;
  text-align: center;
}
.view-product-button{
  padding: 14px 28px;
  font-size: 14px;
  border: none;
  background-color: black;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease;
  margin: 20px 0;
}
.view-product-button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}
