* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 padding-top: 40px;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
form{
    width: 400px;
    display: flex;
    gap: 5px;
}
input{
    height: 35px;
    flex: 1;
    padding: 5px;
}
.text-box{
    flex: 2;
}
