*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      padding: 20px;
}
.container{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
  
}
.item{
    width: 100px;
    height: 100px;
    background-color: red;
}