*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    margin: 20px;
    display: flex;
}
.item1{
    width: 100px;
    background-color: aqua;
}
.item2{
    flex: 1;
    background-color: lightpink;
}
.item3{
    width: 50px;
    background-color: aquamarine;
}