.subscribe-button{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.subscribe-button:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.add-button{
    width: 200px;
    height: 40px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.add-button:hover{
    background-color: rgba(255, 165, 0, 0.8);
}
.dowload-button{
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: slategrey;
    border: 1px solid slategrey;
    cursor: pointer;

}