*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    margin: 20px;
    display: flex;
}
.item1{
    width: 500px;
    background-color: aqua;
}
.item2{
    width: 200px;
    background-color: lightpink;
}