*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 2000px;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
h2,p{
    padding: 5px;
}
.modal{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
}
.close-button{
    color: rgb(58, 58, 58);
    cursor: pointer;
}

.footer{
    margin-top: 10px;
    align-self: flex-end;
}
button{
    cursor: pointer;
}
.cancel-button{
    padding: 8px 30px;
    background-color: transparent;
    border: 1px solid darkgray;
    border-radius: 20px;
}
.create-button{
    padding: 8px 30px;
    background-color: rgb(6, 70, 180);
    color: white;
    border: none;
    border-radius: 20px;
}