body{
    margin: 0;
    padding: 0;
}
p{
    font-size: 30px;
    margin-left: 30px;
}
span{
    font-size: 30px;
}
input{
    margin-left: 30px;
    height: 35px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid slategrey;
    padding-left: 20px;
}
button{
    margin-left: 10px;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    background-color: green;
}