*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid slategrey;
    border-radius: 5px;
}
.card{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
button{
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgb(76, 131, 249);
}