*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.card{
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 5px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.firt-col{
    display: flex;
    flex-direction: row;
    align-items: center;
}
img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}
.info{
    padding-left: 10px;
}
.name{
    font-size: 16px;
    font-weight: bold;
}
.detail{
    padding-top: 5px;
    font-size: 12px;
    color: slategray;
}
button{
    color: white;
    background-color: #FF204E;
    border-radius: 5px;
    border: none;
    padding: 5px 20px;
}
i{
    font-size: 20px;
    vertical-align: middle;
}