@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container{
    display: flex;
}
.color-card{
    margin: 30px; 
    display: flex;
    flex-direction: column;
}
.row-2{
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
    color: #7d7c83;
    cursor: pointer;
}
.row-1{
    width: 370px;
    height: 125px;
    display: flex; 
    border-radius: 20px; 
}
.child:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.child:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
p{
    text-transform: uppercase;
    opacity: 0;
    display: none;
    /* font-size: 10px; */
}
.child{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
.child:hover{
    flex: 3;
}
.child:hover p{
    display: block;
    opacity: 1;
}
.bx-dots-horizontal-rounded{
    font-size: 18px;
    padding: 0 5px;
}
.bx-heart{
    font-size: 14px;
}
.bx-dots-horizontal-rounded:hover{
    color: black;
}
.like:hover{
    color: black;
}
i{
    vertical-align: middle;
}