*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
ul{
    list-style-type: none;
    display: flex;
}
li a{
    padding: 0 10px;
    text-decoration: none;
    color: black;
}