* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #000;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
}

.hero button {
    padding: 10px 20px;
    margin-top: 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
.product-grid {
    padding: 40px 20px;
    text-align: center;
}

.product-grid h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.item {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.item h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.item p {
    font-size: 16px;
    font-weight: bold;
}


.content {
    padding: 40px 20px;
    text-align: center;
}
.content .about{
    margin-top: 20px;
     display: flex;
    gap: 20px;
}

.contact-form {
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
.shop-header {
    text-align: center;
    padding: 20px;
}

.filter-buttons {
    margin: 20px 0;
}

.filter-buttons a {
    padding: 10px 15px;
    margin: 5px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.filter-buttons a:hover {
    background: #444;
}
.filter-buttons .active {
    background: #666;
}