*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 10px 50px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}
.card{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
}
.label{
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    padding: 3px 8px;
    margin: 5px;
  
}
.product-img{
    width: 100%;
}
.card-info{
    padding: 10px 5px;
}
.category,
.color{
    font-size: 13px;
    color: #75757a;
}
.price{
    padding-top: 8px;
    font-size: 13px;
    color: black;
    display: inline-block;
}
span{
    padding-top: 8px;
    padding-left: 8px;
    font-size: 13px;
    color: #75757a;
    text-decoration: line-through;
}
.add-button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    margin: 5px;
    cursor: pointer;
}
@media screen and (max-width: 1280px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
@media screen and (max-width: 1024px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  @media screen and (max-width: 768px) {
    .container{
        padding: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media screen and (max-width: 480px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 320px) {
    .container{
        grid-template-columns: 1fr;
    }
  }
