button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: lightcoral;
}
button:hover{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-left: 10px;
}