* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9aab7;
}
.container {
  width: 600px;
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.left {
  flex: 1;
}
img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
p{
    letter-spacing: 1px;
}
.pick {
  text-transform: uppercase;
  margin-top: 11px;
  margin-bottom: 2px;
  font-size: 0.6em;
  color: #ba7e7e;
}
.sizes {
  display: flex;
  gap: 5px;
}
.size {
  padding: 9px;
  color: #d9aab7;
  border: 1px solid #e0c9cb;
  font-size: 0.7em;
  text-align: center;
  &:hover {
    background: #ba7e7e;
    color: white;
    transition: all 0.4s ease-in-out;
  }
}
.product {
  flex: 1;
}
.heading{
    color: #ba7e7e;
}
h2{
    color: #ba7e7e;
    margin-top: 5px;
}
.desc {
  text-transform: none;
  letter-spacing: 0;
  margin: 15px 0;
  color: #4E4E4E;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

button {
  background-color: #ba7e7e;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: #d9aab7;
    transition: all .4s ease-in-out;
  }
}