@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 50px;
      font-family: "SN Pro", sans-serif;
}
.container{
    width: 100%;
    height: 600px;
    display: flex;
    gap: 20px;
}
.left{
    flex: 1;
}
.main-feature{
    height: 100%;
    min-height: 600px;
}

.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sub-right{
    display: flex;
    gap: 20px;
}
.card{
    width: 100%;
    height: 300px;
    background: linear-gradient(#00000000, #000000df), url('../images/01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    padding: 20px;
}

.text{
    color: white;
    align-self: flex-end;
}
.title{
    margin-bottom: 15px;
    font-size: 22px;
}
.card-footer{
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgb(219, 226, 232);
}
.author{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100%;
}