*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
    text-align: center;

}
header{
    background-color: lightblue;
    height: 300px;
    padding: 30px;
}
.feature-contents{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.feature{
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: lightcoral;
}
.sign-up{
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: lightgrey;
}
footer{
    background-color: black;
    color: white;
    padding: 30px 10px;
}
@media (max-width: 768px){
    .feature-contents{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 475px){
    .feature-contents{
        grid-template-columns: 1fr;
    }
    .sign-up{
        display: none;
    }
}