*{
    margin: 0;
    padding: 0;
    bottom: border-box;
}
.alert{
    padding: 15px;
    margin: 10px;
    border-radius: 4px;
    display: inline-block;
}
.alert-success{
    background-color: #d4edda;
    color: #155724;
}
.alert-error{
    background-color: #f8d7da;
    color: #721c24;
}
/* b */
.product-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.product-card{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
}

.image{
    width: 100%;
    height: auto;
}
.image img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


.price{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}
span.new-price{
    font-weight: bold;
}

header{
    padding: 20px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav-link{
    text-decoration: none;
    padding: 8px 12px;
    color: white;
    background-color: #828282;
    border-radius: 4px;
    margin-right: 10px;
}
.nav-link.active{
    background-color: #000000;
}