*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 30px;
}
.box{
    display: inline-block;
    position: relative;
}
svg{
    width: 50px;
    height: 50px;
}
.qty{
    position: absolute;
    top: -5px;
    right: -8px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    background-color: red;
    color: white;
    border-radius: 100%;
}