*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 350px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
}
img{
    width: 100%;
}
p{
    margin: 5px;
}
.title{
    font-weight: bold;
    font-size: 24px;
}
.price{
    font-weight: bold;
}
.description{
    color: rgb(106, 106, 106);
}
.add-button{
    padding: 8px 30px;
    margin: 5px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;

}
