body {
  font-family: "Inter", sans-serif;
  background-color: #f0f2f5; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px;
}
.profile-card {
  background-color: #ffffff;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.profile-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
}

.name-title-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.profile-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #374151;
}

.profile-title {
  font-size: 0.875rem;
  color: #6b7280;
}

.profile-description {
  color: #4b5563;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 10px;
}

.social-icon-link {
  color: #6b7280;
  transition-property: color;
  transition-duration: 200ms;
}

.social-icon-link:hover {
  color: #374151;
}

.social-icon-link i {
  font-size: 1.125rem;
}
