*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f3f4f6;
    font-family: sans-serif;
}

.hero-sections {
    position: relative;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('./image/background.jpg');
}

.hero-text {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 40px;
}

.hero-text h2 {
    font-size: 2.25rem;
    font-weight: bold;
}

.hero-text h3 {
    font-size: 1.5rem;
}

.product-section {
    padding: 10px;
}

.product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* @media (max-width: 640px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
} */

.product-card {
    display: flex;
    flex-direction: row;
}


.product-text {
    padding: 0.5rem;
    flex: 1;
}

.product-image {
    width: 100%;
    max-width: 13rem;
    height: 13rem;
    padding: 0.25rem;
    border: 2px solid #9ca3af;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-text h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.product-text p {
    color: #4b5563;
    margin-bottom: 0.5rem;
}

footer {
    background-color: transparent;
    color: #6b7280;
    padding: 1rem 0;
    border-top: 1px solid #e5e7eb;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: #6b7280;
    margin: 0 0.5rem;
    text-decoration: none;
}

footer ul li a:hover {
    color: #374151;
}

footer p {
    color: #9ca3af;
}

@media screen and (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-card {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
    .product-card {
        flex-direction: row;
    }
}
@media screen and (max-width: 480px) {
    .product-card {
        flex-direction: column-reverse;
        width: 100%;
    }
    .product-image {
        width: 100%;
        max-width: 100%;
       
    }
}

