*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 100px 1fr 250px;
}
.item-1{
    background-color: lightblue;
}
.item-2{
    background-color: lightcoral;
}
.item-3{
    background-color: lightblue;
}