*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
}
.label{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    background-color: red;
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
}
.out-stock-label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 30px;
    font-size: 20px;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    padding: 10px 5px;
}
small{
    text-transform: uppercase;
    color:  rgb(122, 122, 122);
}
.title{
    padding-top: 8px;
    font-size: 18px;
}
.pricing{
    padding-top: 5px;
    display: flex;
    gap: 10px;
}
.price{
    text-decoration: line-through;
    color:  rgb(122, 122, 122);
    
}
button{
    margin-top: 5px;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: rgb(10, 120, 210);
    cursor: pointer;
}