*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 250px;
    border: 1px solid #edede9;
    padding: 60px 20px;
    margin: 20px;
}
.card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 135px;
    border: 1px solid #edede9;
    padding: 10px 0;
}
img{
    width: 100px;
    object-fit: cover;
}
.name-of-course{
    padding: 15px 0;
    text-align: center;
}
p,span{
    font-weight: bold;
    color: #60a5fa;
    background-color: #f9c74f;
}
p{
    padding: 0 5px;
}
.language{
    display: inline-block;
    margin-top: 5px;
    padding: 2px 6px;
    color: #60a5fa;
    background-color: #dbeafe;
}
.price{
    display: flex;
    justify-content: space-evenly;
}
li{
    margin-left: 20px;
}