* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    place-items: center;
}

.container {
    max-width: 1250px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.Card {
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-card {
    display: flex;
    align-items: center;
}

.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.name-info {
    padding-left: 10px;
}

.name-info p {
    color: white;
}

.name-info span {
    font-size: 12px;
    color: slategrey;
}

.card-info span {
    color: #979dac;
}

.card-info .info {
    color: white;
    padding: 20px 0;
}

.Daniel {
    grid-column: 1/3;
    background-color: #5a189a;
}

.Jonathan {
    background-color: #4f5d75;
}

.Kira {
    grid-column: 4;
    grid-row: -3/ -1;
}

.Jean .profile-card .name-info p,
.Kira .profile-card .name-info p {
    color: #4f5d75;
}

.Jean .card-info .info,
.Kira .card-info .info {
    color: #4f5d75;
}

.Patrick {
    grid-column: 2/4;
    background-color: #0d1b2a;
}

/* Responsive */
@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .Daniel, .Patrick, .Kira {
        grid-column: auto;
        grid-row: auto;
    }
}
