*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    margin: 30px;
    width: 500px;
    background-image: url("https://t3.ftcdn.net/jpg/02/77/30/98/360_F_277309825_h8RvZkoyBGPDocMtippdfe3497xTrOXO.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}

img{
    width: 200px;
    object-fit: cover;
    border: 5px solid white;
}

.text{
    background-color: rgba(255,255,255,0.8);
    padding: 8px;
}
span{
    color: brown;
}