a{
    color: cornflowerblue;
}
a:hover{
    color: aqua;
}
.price{
    color: rgb(3, 87, 3);
}
button{
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.add-button{
    background-color: #FFC700;
    color: white;
}
.add-button:hover{
    color: black;
    background-color: transparent;
    border: 1px solid #FFC700;
}
.buy-button{
    background-color: #DC5F00;
}
.buy-button:hover{
    background-color: #ff6f01;
}