*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 30px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.user-data{
    display: flex;
    align-items: center;
}
.profile{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.user-info{
    padding-left: 8px;
}
.username{
    font-size: 16px;
    font-weight: bold;
}
.friend{
    padding-top: 5px;
    font-size: 14px;
    color: rgb(105, 105, 105);
}
.follow-button{
    padding: 8px 30px;
    border: none;
    background-color: #DE3163;
    color: white;
    border-radius: 20px;
}