*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 30px;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
}
.item{
    border: 1px solid;
}
.item-1{
    grid-column: 1;
    grid-row: 1 / -1;
}
.item-6{
    grid-column-end: -1;
    grid-row: 2 / -1;
}
.item-2{
    grid-column: 2/4;
}
.bg-red{
    background-color: red;
}
.bg-gold{
    background-color: goldenrod;
}
.bg-green{
    background-color: green;
}