* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color:whitesmoke;
}
form {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
label {
  margin-bottom: 5px;
}
input {
  padding: 8px 10px;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}
button {
  padding: 8px 20px;
  margin-top: 8px;
}
