*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    margin: 30px;
    width: 500px;
    background-image: url("https://images.unsplash.com/photo-1656414896156-bb1339254229?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIxfHx8ZW58MHx8fHx8");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}
p{
    margin: 10px 0;
}
.text{
    width: 250px;
    font-size: 28px;
    background-color: rgba(255, 255,255, 0.5);
    padding: 10px;
}